@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@font-face {
	 src: url('webfont.eot');
}
@import 'https://fonts.googleapis.com/css?family=Roboto';
/*general styling*/
html {
    position: relative;
    min-height: 100%;
	background-color: white;
}
#body {
    margin: 0;
	background-color: white;
	background:cover;
	height:100%;
	}



hr {
	display: none;

}
/*LAYOUT*/
#officers {
	border-radius:7px;
	text-align: center;
	padding-top:0;
	padding-bottom:0;
	color:white;
	font-family:Roboto, Open sans, sans-serif;
	background-color:black;
}

footer {

    position: relative;
    left: 0;
    bottom: 0px;
    height: auto;
    width: 100%;
	border-top:groove;
	border-color:black;
	border-width:medium;
	background-color:white;
	z-index:1;
}
.container:after{
	display: table;
}
#rightcolumn1  {
	float:right;
	padding-right:2%;
	background-color:white;
	height:auto;
}
#leftcolumn1 {
	float:left;
	padding-left:2%;
	background-color:white;
}
#copyright p {
	font-family:Roboto, Open sans;
	padding-left:0.5%;

	font-size:small;
	color:black;
}
#copyright a {
	float:right;
	z-index:1;
}



#header {
	background-image: url("../images/About Us.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 0;
	width: 100%;
  padding-top: 33.12%;
	margin:  0;

}

.info-grid {
	background-color: white;
	padding: 3em 0px 5em 0px;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cove;
}

.col-md-4 {
    width: 33.33333333%;
	float:left;
	padding-leftf:250px
}

.info-top {
	background-color: black;
	padding: 1em 1em;
	border-radius:5px;

}
.info-top h3 {
	font-size: 1.1em;
	font-weight: 700;
	font-family:Roboto, Open sans, sans serif;
	color: white;
	margin: 0px;
	text-align:center;
}
.info-bott {
	background-color: transparent;
	border-radius:5px;
	padding: 1em 1em;
	min-height: 320px;
	text-align: center;
}
.info-bott p {
	font-size: 0.885em;
	font-weight: 500;
	font-family:Roboto, Open sans, sans serif;
	color: black;
	padding: 1.5em 0px;
	line-height: 1.5em;
	text-align: justify;
}
.info-bott h5 {
	font-size: 0.9em;
	font-weight: 500;
	font-family:Roboto, Open sans, sans serif;
	color: black;
	text-align: left;
	font-style: italic;
	text-decoration: underline;
}

.infogrid-bwn{
	position: relative;
}
.img-circle {
    border-radius: 50%;
}
/*--info-grid end here--*/
#slideshow {
	z-index:1;

}
#history {
	background-color:#9f360c;
	padding-top:1px;
	padding-bottom:0;
}
.second-content {
	background: #9f360c;
	margin:auto;
	text-align:justify;
	color:black;
	padding:0 1% 0 1%;
}
