body{
	background-image: url('../img/gray.jpg');
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding:0;
	margin:0;
}

/*Global*/
.container{
	width: 1024px;
	margin:auto;
	overflow: hidden;
	color: #ffffff;
	background-color: #ffffff;
}

/*Back to main page*/
#link {
	background-color:#1f2425;
	padding: 8px 0 8px 8px;
}

#link a {
	text-decoration: none;
}

#link a:link, a:visited {
	color: #fff;
}

#link a:hover, a:active {
	color: #fff;
}

/*Picture 1*/
#pic1 {
	width:100%;
	height:224px;
	padding-bottom: 12px;
}

#pic1 img {
	width:100%;
	height:224px;
	margin: auto;
}

/*Introduction*/

#intro  {
	background-color: #e2c529;
	padding: 20px ;
}

#intro h1 {
	margin: 2px;
}

#intro p {
	margin: 2px;
}

/*Picture 2*/
#pic2 {
	width:100%;
	height:224px;
	padding-bottom: 12px;
}

#pic2 img {
	width:100%;
	height:224px;
	margin: auto;
}

/*Uses, Concerns, and Benefits*/
#main-info{
	background-color: #3a98ac;
	padding: 20px;
}

#main-info h1 {
	margin: 2px;
}

#main-info p {
	margin: 2px;
}

/*Picture 3*/
#pic3 {
	width:100%;
	height:224px;
	padding-bottom: 12px;
}

#pic3 img {
	width:100%;
	height:224px;
	margin: auto;
}

/*Solution*/
#solution{
	background-color: #e64319;
	padding: 20px;
}

#solution h1 {
	margin: 2px;
}

#solution p {
	margin: 2px;
}

/*Footer*/
footer{
	padding:5px;
	margin-top:10px;
	background-color:#e64319;
	text-align:center;
}