@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
@import 'https://fonts.googleapis.com/css?family=Roboto';
/*general styling*/
html {
    position: relative;
    min-height: 100%;

}
body {
    margin: 0 0 100px;
	background-color:white;
	height:100%;
	}

#break {
	width: 99%;
    height: 10px;
    background-color: black;
    border: solid 1px black;
    box-shadow: 0px 3px 5px 1px gray;
}
hr {
	display: none;
}
/*LAYOUT*/
.headers {
  color: #9f360c;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.para {
  text-align: center;
  font-family: sans-serif;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-weight: bold;
}


footer {

    position: relative;
    left: 0;
    bottom: 0px;
    height: auto;
    width: 100%;
	border-top:groove;
	border-color:#9f360c;
	border-width:medium;
	background-color:white;
	z-index:1;
}
#copyright p {
	font-family:Roboto, Open sans;
	padding-left:0.5%;

	font-size:small;
	color:black;
}
#copyright a {
	float:right;
	z-index:1;

}
#events {
	border:hidden;
	text-align: center;
	padding-top:0;
	padding-bottom:0;
	margin-left:9%;
	color:white;
	font-family: Roboto, 'Open Sans', sans-serif;
	font-weight:700;
	font-size:1.15em;
	background-image:url("../images/Home Page.png");

}

/*nav*/


#header {
	background-image: url("../images/Home Page.png");
	height: 490px;
	width: 99%;

	margin:  0;

}
