@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
@import 'https://fonts.googleapis.com/css?family=Roboto';
/*general styling*/
html {
    position: relative;
    min-height: 100%;

}
body {
    margin: 0 0 100px;

	height:100%;
	}

#break {
	width: 99%;
    height: 10px;
    background-color: blue;
    border: solid 1px #007743;
    box-shadow: 0px 3px 5px 1px #007743;
}
hr {
	display: none;
}
/*LAYOUT*/

a {
	color:#ff9008;
}
h1 {
	color:white;
	font-family: Roboto;
}

h2 {
	color:white;
	font-family: Roboto;
}

footer {

    position: relative;
    left: 0;
    bottom: 0px;
    height: auto;
    width: 100%;
	border-top:groove;
	border-color:black;
	border-width:medium;
	background-color:white;
	z-index:1;
}
#copyright p {
	font-family: Roboto, Open sans;
	padding-left:0.5%;

	font-size:small;
	color:black;
}
#copyright a {
	float:right;
	z-index:1;

}


#header {
	background-image: url("../images/Members.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 0;
	width: 100%;
  padding-top: 33.12%;
	margin:  0;

}
